<%- include("partials/header") %>
<body>
    <h1 class="titleofpage">Your Notes</h1>

    <div id="posts-container">
        <div class="plus-button">
            <a href="/compose">+</a>
        </div>
        <% posts.slice().reverse().forEach(element => { %>
            <!-- Individual Post -->
            <div class="post">
                <h2 class="post-title"><%= element.title %></h2>
                <p class="post-text"><%= element.content.slice(0,35) %></p>
                <a href="/post/<%=element.title%>" class="read-more">Read More</a>
                <p class="post-date"><%=element.date%></p>
            </div>
        <%  });  %>

        <!-- Plus Button -->
       
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
<%- include("partials/footer") %>
