<%- include("partials/header") %>
<body>
    <h1 class="titleofpage">Your Notes</h1>

    <div id="posts-container">
        <div class="plus-button">
            <a href="/compose">+</a>
        </div>
        <% posts.slice().reverse().forEach(element => { %>
            <!-- Individual Post -->
            <div class="post" data-id="<%=element._id%>" data-url="/<%=element.id%>">
                <div class="post-icons">
                    <div class="icon edit-icon" data-action="edit">
        
                        <!-- SVG code here... -->
                        <button type="submit" form="form-<%=element._id%>" onclick="document.getElementById('form-<%=element._id%>').action.value='edit';">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <!-- SVG path details... -->
                            </svg>
                        </button>
        
                        <span class="icon-text">Edit</span>
                    </div>
                    <div class="icon delete-icon" data-action="delete">
        
                        <!-- SVG code here... -->
                        <button type="submit" form="form-<%=element._id%>" onclick="document.getElementById('form-<%=element._id%>').action.value='delete';">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <!-- SVG path details... -->
                            </svg>
                        </button>
        
                        <span class="icon-text">Delete</span>
                    </div>
                </div>
 
                <h2 class="post-title"><%= element.title %></h2>
                <p class="post-text"><%= element.content.slice(0,35) %></p>
                <a href="/post/<%=element.title%>" class="read-more">Read More</a>
                <p class="post-date"><%=element.date%></p>
            </div>
        <%  });  %>

        <!-- Plus Button -->
       
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>

function sendPostRequest(url, action, id) {
    fetch(url + '?action=' + action + '&id=' + id, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        }
    })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => console.log(data))
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
        }
    </script>
</body>
<%- include("partials/footer") %>
