<%- include("partials/header") %>
<style>
.top-things{
    display: flex;
}
/* General styles */
.search-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 50%;  /* Limit the width to half of the screen */
    margin: 20px auto;  /* Vertically center the search form and results and add margins */
}

.search-form {
    display: flex; 
    justify-content: space-between;
    width: 100%;
}

.search-input {
    flex-grow: 1;  /* Makes the input take up the remaining space */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
    margin-left: 10px;  /* Separates the button from the input */
}

.search-results {
    position: relative;
    top: 20px;
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    display: none;
    z-index: 1000;
    box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
    .search-input {
        background-color: #444;
        color: #fff;
        border-color: #888;
    }

    .search-button {
        background-color: #555;
        color: #fff;
        border-color: #888;
    }

    .search-results {
        background-color: #555;
        color: #fff;
        border-color: #888;
    }

    .search-results div:hover {
        background-color: #666;
    }
}


</style>
<body>
    <div class="search-form-container">
        <form action="/search" method="post" class="search-form">
            <input type="text" id="search-bar" name="searchvalue" placeholder="Search..." class="search-input" autocomplete="off">
            <button type="submit" class="search-button">Search</button>
        </form>
        <div id="search-results" class="search-results"></div>
    </div>
    </div>
    <div class="conatainer top-things">
    <h1 class="titleofpage">Your Notes</h1>
    <div class="sort-container">
        <form id="sort-form" method="post" action="/sort">
            <select id="sort-options" name="sort-option" onchange="document.getElementById('sort-form').submit();">
                <option value="">Sort By...</option>
                <option value="title-reverse">Title A-Z</option>
                <option value="date-oldest">Last edited</option>
                <option value="title">Title Z-A</option>
                <option value="date">Oldest edited</option>
            </select>
        </form>
    </div>
</div>
    <div id="posts-container">
        <div class="plus-button" onclick="window.location.href='/compose'">
            <a href="/compose">+</a>
          </div>
        
        <% posts.slice().reverse().forEach(element => { %>
            <!-- Individual Post -->
            <div class="post" data-id="<%=element._id%>" data-url="/<%=element._id%>">
                <form id="form-<%=element._id%>" method="post" action="/">
                    <input type="hidden" name="id" value="<%=element._id%>">
                    <input type="hidden" name="action" id="action-<%=element._id%>"> <!-- Hidden action field -->
                    <div class="post-icons">
                        <div class="icon edit-icon" data-action="edit">
                            <!-- SVG code here... -->
                            <button class="svg-button" type="submit" onclick="document.getElementById('action-<%=element._id%>').value='edit';">
                                <!-- SVG details... -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                  </svg>
                            </button>
                            <span class="icon-text">Edit</span>
                        </div>
                        <div class="icon delete-icon" data-action="delete">
                            <!-- SVG code here... -->
                            
                            <button class="svg-button" type="submit" onclick="document.getElementById('action-<%=element._id%>').value='delete';">
                                <!-- SVG details... -->
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                              </svg>
                            </button>
                            <span class="icon-text">Delete</span>
                        </div>
                    </div>
                </form>
                <h2 class="post-title"><%= element.title %></h2>
                <p class="post-text"><%= element.content.slice(0,35) %></p>
                <a href="/post/<%=element.title%>" class="read-more">Read More</a>
                <p class="post-date">LAST EDITED: <%=element.date%></p>
            </div>
        <%  });  %>
    </div>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function sendPostRequest(url, action, id) {
    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ action: action, id: id }) // Send action and id in the body
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => console.log(data))
    .catch(error => {
        console.error('There has been a problem with your fetch operation:', error);
    });
}
let posts = JSON.parse('<%- JSON.stringify(posts) %>'); // now posts is available in client-side JS
let searchBar = document.getElementById('search-bar');
let searchResults = document.getElementById('search-results');

searchBar.addEventListener('input', function(e) {
    let searchQuery = e.target.value.toLowerCase();
    searchResults.innerHTML = ''; // Clear out any old results

    if (searchQuery) {
        let results = posts.filter(post => post.title.toLowerCase().includes(searchQuery));
        results.forEach(result => {
            let resultElement = document.createElement('div');
            resultElement.textContent = result.title;
            // update the search bar value when a result is clicked
            resultElement.addEventListener('click', function() {
                searchBar.value = result.title;
                searchBar.dispatchEvent(new Event('input')); // dispatch input event manually
            });
            searchResults.appendChild(resultElement);
        });
        if (results.length) {
            searchResults.style.display = 'block'; // show the search results
        } else {
            searchResults.style.display = 'none'; // hide the search results
        }
    } else {
        searchResults.style.display = 'none'; // hide the search results
    }
});


    </script>
</body>
<%- include("partials/footer") %>
