<%- include("partials/header") -%>
<style>
    @media (prefers-color-scheme: dark) {
    

    .note-container {
        background-color: #2a2a2a!important;
        color: #FFF;
    }

    .form-group {
        background-color: #2a2a2a;
        color: #FFF;
    }

    .form-control {
        background-color: #555;
        color: #FFF;
        border: 1px solid #666;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        color: #FFF;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
        color: #FFF;
    }
}
    .note-container {
        width: 80%;
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        box-shadow: 0px 5px 15px rgba(0,0,0,2);
        background: white;
    }
    .note-container h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    .note-container .form-group {
        margin-bottom: 20px;
    }
    .note-container textarea {
        min-height: 40vh;
    }
    .note-container button {
        margin-top: 20px;
    }
    @media (max-width: 768px) {
        .note-container {
            width: 100%;
            padding: 10px;
        }
    }
</style>
<body>
    <div class="note-container">
       
        <div class="conatainer"><h1 class="title-posts">TITLE: <%= title %></h1>
    <h2 class="date-posts"><%= date %></h2>
    <p class="content-posts"><%- content.replace(/\n/g, '<br>').replace(/<code>(.*?)<\/code>/g, '<code>$1</code>') %></p>
</div>
    </div>

    
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<%- include("partials/footer") -%>
